@media (min-width: 800px) and (max-width: 1023px) {
    main {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}
@media (min-width: 599px) and (max-width: 799px) {
    main {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
@media (max-width: 600px) {
    main {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}
@media (min-width: 1024px) {
    main {
        padding-left: 15vw;
        padding-right: 15vw;
        
    }
}
@media (min-width: 1200px) {
    main {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}
@media (min-width: 1920px) {
    main {
        padding-left: 30vw;
        padding-right: 30vw;
    }
}