p{
    margin-block-start: 0;
    margin-block-end: 0;
}
a{
    text-decoration: none;
}
html, body {
    height: 99%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

body {
    color: white;
    background-color: #212121;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-bottom: 200px;
    padding-top: 20px;
    flex-grow: 1;
}
.chat_new{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
    gap: 10px;
}
.chat_new p{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 25px;
}
#new_chat{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in;
}
#new_chat:hover{
    transform: scale(1.1);
}
.id-text-send-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.id-text-send-user-style{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#text_user{
    height: 50px;
    background: #2f2f2f;
    border-radius: 15px;
    flex: 1;
    color: #ececec;
    text-indent: 10px;
    font-size: 18px;
    border: none;
    font-family: sans-serif;
    font-weight: 400;
    width: 600px;
    padding-right: 70px;
}
#text_user:focus{
    outline: none;
}
#send_user_text{
    background: none;
    border-radius: 10px;
    border: none;
    position: absolute;
    opacity: 1;
    margin-right: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}
#send_user_text:disabled {
    cursor: not-allowed;
}
#send_user_text:enabled {
    cursor: pointer;
}
.text-botton{
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}
.user_text-one{
    display: flex;
    gap: 10px;
    align-items: center;
}
#user_text{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 20px;
}
#user_text p{
    padding: 10px;
    border-radius: 10px;
    background: rgba(47, 47, 47, 0.65);
    backdrop-filter: blur(5.5px);
    max-width: 80%;
}
.user_text-one p{
    font-size: 20px;
    font-weight: bold;
}
#chat_body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
#chat_body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
#chat_body::-webkit-scrollbar-track {
    background-color: transparent;
}
.hello_gpt{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-weight: bold;
}
#hello{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-size: 20px;
}
#hello p{
    padding: 10px;
    border-radius: 5px;
    background: rgba(47, 47, 47, 0.65);
}
#gpt_response{
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}
.bot_text-one{
    display: flex;
    gap: 10px;
    font-weight: bold;
}
.new{
    display: flex;
    align-items: center;
    gap: 10px;
}
#send_document{
    background: none;
    border: none;
}
